hostkey_api_key = "paste-invapi-key-here"
root_pass       = "StrongPass1%"

# location_name       = "NL"
# preset_name         = "vm.pico"
# os_name             = "Ubuntu 22.04"
# soft_name           = "aaPanel"
# traffic_plan_name   = "3 TB / 1 Gbps VM"
# traffic_plan_id     = 25
# deploy_period       = "monthly"
# cancellation_type   = 1
